{% load staticfiles %}
<html >
    <head>
        <title>Dorry's Blog</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->
        <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!--<link rel="stylesheet" href="/static/css/blog.css">-->
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/blog">Dorry's Blog</a></h1>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>